/ClashRoyale/nbproject/private/
/ClashRoyale/dist/
/ClashRoyale/build/
/ClashRoyale1/nbproject/private/
/prueba/nbproject/private/
/ClashRoyale1/build/
/ClashRoyale2/nbproject/private/
/ClashRoyale2/build/
/ClashRoyale2/dist/
/ClashRoyale3/nbproject/private/
/ClashRoyale3/build/
/ClashRoyale4/nbproject/private/
/ClashRoyale4/build/
/ClashRoyale4/dist/
/ClashRoyale5/nbproject/private/
/ClashRoyale5/build/
/UltimosIfs1/nbproject/private/
